version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "bunit"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

