@inject ILocalTimeService LocalTimeService
@inject TimeProvider TimeProvider

<p>
    <LocalTimeText Value="TimeProvider.GetUtcNow()" Format="yyyy-MM-dd HH:mm:ss" DisableTimeElement />
</p>
<BlazorLocalTimeProvider />
